<div class="card m-2">
    <a class="has-text-black">
        <div class="card-content">
            <div class="media">
                <div class="media-left">
                    <p class="title is-1">#{{post.id}}</p>
                </div>
                <div class="media-content">
                <p class="title is-4">{{post.title}}</p>
                <p class="subtitle is-6">From user: {{post.userId}}</p>
                </div>
            </div>
        
            <div class="content">
                {{post.body}}
            </div>
        </div>
    </a>
</div>