<div>
    <div class="container">
        <section class="hero is-large">
            <div class="hero-body">
                <p class="title is-1">Xplore App</p>
                <p class="subtitle">The best way to see what people in the area are saying</p>
                <div class="columns">
                    <div class="column is-one-third">
                        <p>The Xplore App allows people to post anonymously and then comment on posts of those nearby.
                            This app is perfect for networking at events where you don't want to be bombarded with messages,
                            or just exploring a new place.
                        </p>
                    </div>
                </div>

            </div>
        </section>
    </div>
</div>
