<div class="container">
<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand ml-3">
    <a class="navbar-item" href="https://bulma.io">
      <img src="../assets/brand.svg" width="100" height="38">
    </a>

    <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="navbarBasicExample" class="navbar-menu ml-6">
    <div class="navbar-start">
      <a class="navbar-item">
        Posts
      </a>

      <a class="navbar-item">
        Comments
      </a>

      <a class="navbar-item">
        Report an issue
      </a>

  </div>
  </div>

</nav>
<section class="section">
  <div class="container">
    <h1 class="title">
      Hello World
    </h1>
    <p class="subtitle">
      My first website with <strong>Bulma</strong>!
    </p>
  </div>
</section>
</div>